@import "_stats.sass"

body
  background-color: #EEEEEE
  font-family: sans-serif

ul
  font-size: 22px
  list-style-type: none
  margin: 0
  padding: 0
  overflow: hidden
  background-color: #64e7f4
  box-shadow: 3px 3px 8px #3789cc

li
  float: left

li a
  display: block
  color: #467ea2
  text-align: center
  font-size: 18px
  font-weight: bold
  padding: 14px 16px
  width: 80px
  border-right: #0f2f2d

li a:hover
  background-color: #57cfdb
  box-shadow: 1px 1px 10px #2e757e
  color: #19485b
